/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* Page Styling */
*{
	margin: 0px;
	padding: 0px;
}
body{
	line-height: 17px;
	font-family: Product Sans, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
	background-color: #eeeeee;
	font-size: 15px;
	font-weight: lighter;
	color: #646464;
}
a:hover{
	text-decoration: none;
}
.top_bar{
	background: #335eea;
	width:100%;
	height: 60px;
	min-width: 1050px;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid #ddd;
}
.logo img{ 
	margin-left: 17px;
	height: 27px;
	width: 100px;
	margin-top: 15px;
}
.logo{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
	float: left;
	width: 50%;
}
.search
{
	padding-top: 11px;
}
.search_bar{
	height: 25px;
	width: 240px;
	padding: 0px 10px;
	padding-left: 20px
	outline: none;
	border:none;
	border-radius: 40px;
	font-size: 15px;
}
.search_bar:focus
{
	outline: none;
	border:none;
}
.search_bar_area
{
	color:#333;
	width: 290px;
	border-radius: 40px;
	background-color: #fff;
	padding: 4px;

}
.search_bar , .search_button
{
	display: inline-block;
  	vertical-align: middle;
}
.search_button
{
	text-align: right;
	font-size: 17px;
	cursor: pointer;
}
nav a{
	position: relative;;
	color: #fff;
	text-decoration: none;
	font-size: 21px;
}
nav{
	float: right;
	top: 5px;
	right: 10px;
	position: absolute;
	margin: 12px 20px;
	word-spacing: 14px;
	color: #fff;
	width: 50%;
	text-align: right;
	line-height: 1.6;
}
nav a:hover{
	color: #d1dafa;
	text-decoration: none;
}
.nav_profile_pic
{
	border-radius: 50%;
	object-fit: cover;
    height:20px;
 	width:20px;
}
.main_profile_pic{
	border-radius: 50%;
	object-fit: cover;
    height:120px;
 	width:120px;
	box-shadow:  2px 2px 1px #d3d3d3;
 	margin: 10px 0px 20px 0px;
}
.wrapper{
	margin: 0px;
	top: 60px;
	position: relative;
	padding: 20px 10px;
	min-width: 950px;
}
.column{
	background: #fff;
	padding: 10px;
	border-radius: 4px;
	box-shadow:  1px 1px 0.5px #d3d3d3;
	z-index: -1;
}
ion-icon{
	font-size: 24px;
}
.wrapper{
	margin: 0px;
	top: 60px;
	position: relative;
	padding: 20px 10px;
	min-width: 950px;
}
.container{
	margin: 0px auto;
	padding: 0px;
}
.user_details{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	padding: 25px;
	text-align: center;
}
.wh-sp{
	padding: 10px;
	height: 20px;
}
.footer-style{
	margin: 17px;
}
.footer-style li{
	text-decoration: none;
	display: inline-block;
	padding: 3px;
}
.count_table{
	margin: 0px auto;
	width: 70%
}
.count_table td{
	padding: 4px 5px 7px 5px;
}
.about-style-tab{
	margin-top: 9px;
	width: 100%;
}
.about-style-tab td{
	padding: 5px;
	font-size: 14px;
}
.about-style-tab td{
	border: none;
}
.about-style-tab tr:last-child{
	border-bottom: none;
}
.about-style-tab ion-icon{
	font-size: 16px;
}
.main_column{
	padding: 14px;
}
.cursorp{
	cursor: pointer;
}
.post_form{
	width: 100%;
}
.post_form textarea{
	width: 82%;
	height: 50px;
	border-radius: 5px;
	margin-right: 10px;;
	border: 1px solid #a1a1a1;
	padding: 10px;
	font-size: 14px;
	min-height: 50px;
}
textarea:focus{
	outline: none;
	height: 150px;
	-webkit-transition: height 1s; /* Safari prior 6.1 */
  	transition: height 1s;
}
.post_form button{
	width: 13%;
	height: 50px;
	border: none;
	background: #335eea;
	color: #fff;
	font-family: Product Sans, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	position: absolute;
	outline: none;
	margin: 0px;
	border-radius: 5px;
}
.post_form button:active{
	padding: 5px 4px 4px 5px;
	background: #0056b3;
}
.profile_pic_post{
	border-radius: 50%;
	object-fit: cover;
    height:40px;
 	width:40px;
	box-shadow:  1px 1px 0.5px #d3d3d3;
}
.wh-sp2{
	padding: 4px;
	height: 13px;
}
.post_name{
	font-size: 18px;
	margin-bottom: 5px;
}
.post_time{
	font-size: 12px;
}
.col-sm
{
	font-family: Product Sans, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	
}
/*Comment Section Styling*/
.newsfeedPostOptions
{
	padding: 10px 30px 0px 0px;
	border-top: 0.5px solid #e4e4e4;
	margin-top:20px;
	margin-right: 14px;
	font-size: 14px;
}
.newsfeedPostOptions iframe
{
	height: 19px;
	border: none;
}
.likes-ul{
	list-style: none;
}
.likes-ul li{
	display: inline-block;
	margin-right: 5px;
}
.comment_like{
	width: 50px;
	height: 19px;
	font-size: 14px;
	border: none;
	color: #fff;
	border-radius: 2px;
}
iframe, label
{
	display: inline-block;
  	vertical-align: middle;
  	margin: 5px 0;
}
.frnd_button:hover
{
	color: #000;
	transition: color 0.5s;
}
.delete_button
{
	border: none;
    background: #fff;
    font-size: 24px;
    color: #999;
    margin: 2px;
}
.upload
{
	width: 50%;
	margin:10px auto;
}
.you-and-h5
{
	margin: 0px 0px 20px 0px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	font-weight: 300;
}
.message_post textarea
{
	max-height:60px;
	padding:5px;
	font-size: 14px;
	width: 92%;
	border-radius: 5px;
	margin-right: 10px;
	min-height: 1em;
	height: 30px;
	outline: none;
	border:0px;
	overflow: hidden;
	resize: none;
}
.message_post button
{
	width: 5%;
	height: 30px;
	border: none;
	color: #888;
	font-family: Product Sans, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	position: absolute;
	outline: none;
	margin: 0px;
	border-radius: 5px;
	background-color: #fff;
}
.message_post button:active{
	padding: 5px 4px 4px 5px;
	background: #0056b3;
}
.message_box
{
	margin: 30px 5px 0px 5px;
	border: 1px solid #a1a1a1;
	border-radius: 20px;
	padding: 10px 5px 5px 10px;
}
.message
{	
	display: inline-block;
	margin: 5px;
}
.message#green
{
	padding: 10px 15px;
	background-color: #fff;
	float: left;
	color: #000;
	border-radius: 20px;
	border: 1px solid #dfdfdf;
}
.message#blue
{
	padding: 10px 15px;
	background-color: #dfdfdf;
	float: right;
	color: #242424;
	border-radius: 20px;
	border: 1px solid #dfdfdf;

}
.loaded_messages
{
	height: 250px;
	overflow-y: scroll;
	padding: 10px;
}
.user_found_message
{
	height: 60px;
	border-bottom: 1px solid #ddd;
	margin: 10px 0px;
}
.user_found_message
{
	color:#444;
	padding:10px;
}
.convo_img 
{
	float: left;
	width: 18%;
}
.convo_img img 
{
	border-radius: 40px;
}
.convo_body
{
	float: right;
	font-size: 14px;
	width: 82%;
}
.resultDisplay
{
	height: 70px;
	border-bottom: 1px solid #eee;
	margin: 0px 0px 0px 0px;
}
.resultDisplay a
{
	color: #333;	
}
.LiveSearchProfilePic
{
	float: left;
	width: 10%;
}
.LiveSearchProfilePic img
{
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
.LiveSearchText
{
	float:right;
	width: 90%;
	margin-top: 10px;
}
.dropdown_data_window
{
    background: #fff;
    border-radius: 4px;
    border-top: none;
    width: 320px;
    position: absolute;
    right: 20px;
    top: 65px;
    overflow-y: scroll;
}
.notification_baddge
{
	font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    background-color: #f00;
    padding: 2px 6px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    bottom: 17px;
}
.notification_show
{
	height: 70px;
	border-bottom: 1px solid #eee;
	margin: 10px 0px 0px 0px;
	padding: 15px;
}
.notification_show a
{
	color: #333;	
}
.notificationsProfilePic
{
	float: left;
	width: 15%;
}
.notificationsProfilePic img
{
	height: 40px;
	width: 40px;
	border-radius: 40px;
}
.notificationText
{
	float:right;
	width: 80%;
}
.search_results_area
{
    background: #fff;
    margin: 7px 0px;
    border-radius: 7px;
    width: 400px;
}
.search_results
{
}
.search_results_footer
{
	padding: 10px;
	text-align: center;
}
.settings_image
{
	text-align: center;
}
.settings_image img{
	height: 130px;
	width: 130px;
	border-radius: 130px;
	margin: 10px;
}